body {
    background-color: azure;
    font-size: 20px;
    font-family: Tahoma;
}
.jmeno {
    background-color: azure;
    display: inline;

}
h1 {
    color:rgb(28, 101, 91);
    font-size: 60px;
    font-family: Georgia;
}


h2 {
    color: rgb(28, 101, 91);
    font-family: Georgia;
    Font-size: 30px;
}

img {
   width: 15%; 
   border-radius: 30%;
}

.kdojsem, 
.kontakt,
.pracovnizkusenosti,
.vzdelani,
.dovednosti {
    background-color: rgb(208, 222, 208);
    border-radius: 30px;
    Margin: 15px;
    padding: 15px;
}